---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -readability-magic-numbers,
        -readability-implicit-bool-conversion,
        -readability-redundant-access-specifiers,
        -readability-braces-around-statements,
        -readability-misleading-indentation,
        -readability-identifier-length,
        -hicpp-braces-around-statements,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-*,
        -cppcoreguidelines-avoid-magic-numbers,
        -misc-non-private-member-variables-in-classes,
        -boost-use-ranges,
        -modernize-use-ranges,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
