[init]
	defaultBranch = main
[user]
	email = yogesh952003@gmail.com
	name = Yogesh Rathod
[core]
	editor = nvim
  excludesFile = ~/.localExcludesFile
[push]
	autoSetupRemote = true
[pull]
	rebase = true
